.assemble_page__section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 40vw;
}

.assemble_page__container{
    justify-items: center;
}

.assemble_page__radio-button{
    display: flex;
    gap: 0.5em;
}

.input__label {
    color: #1576ff;
}

.assemble_page_text {
    color: #0032d2;
    font-size: 3.2vw;
}