.wrapper{
    padding: 0 15vw 0 15vw;
}

.wrapper_promo {
    padding: 50px 0 0 0;
	display: flex;
	gap: 15%;
}

.promo_img {
    width: 25vw;
}
.promo_imgText {
    font-size: 22px;
    text-align: center;
    color: #0058d3;;
}
.promo_info{
    padding: 5vw 0 0 0;
}
.promo_info_main{
    font-size: 32px;
    color: #0058d3;
}
.promo_info_add{
    margin-top: 5px;
    font-size: 18px;
    color: #0058d3;
}
.aboutUs_header{
    text-align: center;
    color: #0058d3;
    font-size: 24px;
}
.aboutUs_wrapper{
    display: flex;
    justify-content: space-around;
    /* gap: 250px; */
}
.aboutUs_item{
    width: 250px;
    height: 300px;
    /* border-radius: 3px;
    border-width: 3px;
    border-color: rgba(0, 0, 255, 0.3);
    border-style: solid; */
    padding: 15px 5px 0 5px;
}
.aboutUs_imgCircle {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 113px;
	height: 113px;
	background-color: #5099ff;
	border-radius: 100%;
    margin: 0 auto;
}
.aboutUs_img {
    width: 35px;
}
.aboutUs_descr{
    margin-top: 20px;
    color: #0058d3;
    text-align: center;
}
.wrapper_aboutUs {
    position: relative;
    margin-top: 50px;
}
.wrapper_choice{
    position: relative;
}
.choice {
	min-height: 895px;
	padding: 57px 0 138px 0;
	background: url('../../resourses/mobile_app.png') center (center / cover) no-repeat;
}
.choice_img {
	position: relative;
	display: block;
	margin: 30px auto 0 auto;
	z-index: 2;
}
.choice_descr {
	text-align: center;
	color: #222222;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
}
.black {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100vw;
    background-color: #08083f;
    transform: translate(-15vw);
    z-index: 1;
}
.choice_title {
    position: relative;
    z-index: 2;
    text-align: center;
}
.choice_subtitle {
    position: relative;
    z-index: 2;
    text-align: center;
}
.choice_assemble {
    text-align: center;
    color: #0058d3;
    font-size: 30px;
    font-weight: 700;
}
.choice_button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 0.5em 4.5em !important
}
.a12{
    grid-column: 12 span;
}

.a6{
    grid-column: 6 span;
}

.a4{
    grid-column: 4 span;
}

.a3{
    grid-column: 3 span;
}

.ao {
    grid-column: 3;
    grid-column: 6 span;
}

.skipX3 {
    grid-column: 3;
}
@media (max-width: 767px) {
    .xs12{
        grid-column: 12 span;
    }

    .xs6{
        grid-column: 6 span;
    }

    .xs4{
        grid-column: 4 span;
    }

    .xs3{
        grid-column: 3 span;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .s12{
        grid-column: 12 span;
    }

    .s6{
        grid-column: 6 span;
    }

    .s4{
        grid-column: 4 span;
    }

    .s3{
        grid-column: 3 span;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .m12{
        grid-column: 12 span;
    }

    .m6{
        grid-column: 6 span;
    }

    .m4{
        grid-column: 4 span;
    }

    .m3{
        grid-column: 3 span;
    }
}

@media (min-width: 1200px) {
    .l12{
        grid-column: 12 span;
    }

    .l6{
        grid-column: 6 span;
    }

    .l4{
        grid-column: 4 span;
    }

    .l3{
        grid-column: 3 span;
    }
}