.card-container {
	display: flex;
	text-align: center;
	justify-content: space-around;
	gap: 25px;
	align-items: center;
	height: 100%;
}
.main-container {
	width: 1150px;
    height: 350px;
    margin: 0 auto;
	border: 6px solid #4b4b4b;
	border-radius: 12px;
	background-color: #8b8b8b26;
}
.signin-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.container-avatar {
	width: 22%;
	height: 75%;
	background-color: #fff;
	border-radius: 5px;
	border: 3px solid #aaaaaa;
}
.otherWays {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 5px;
}
.otherWays-text {
	color: #0040d4;
	font-size: 16px;
}
.profile-img-card {
	width: 150px;
	margin: 0 auto;
}
.form-group {
	display: flex;
	gap: 15px;
	justify-content: center;
}

.login-password {
	display: flex;
	flex: 1 1 1 1;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.pcUp-title {
	text-align: center;
	color: #000;
	font-weight: 700;
	font-size: 44px;
	font-family: cursive;
	margin-bottom: 25px;
}
.form-group-item {
	color: #000;
	font-family: cursive;
	font-size: 32px;
}
.form-control {
	font-size: 24px;
}
.login-button {
	height: 40px;
}
.btn-primary{
	width: 500px;
	font-size: 24px;
	font-family: cursive;
	border: 3px solid #bfbfbf;
	border-radius: 8px;
	color: #1700c3;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-primary:hover {
	color: #8677ff;
}
.fullscreen {
	height: 80vh;
	position: relative;
}
.alert-container {
	display: flex;
	align-items: center;
}