@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #020405; */
    /* background-image: url(https://images.hdqwalls.com/download/earth-rocket-minimalism-1600x1200.jpg); */
    /* background: url("resourses/White-Wallpaper-1-XL.jpg") center center/cover repeat;;  */
    /* background: url("resourses/shit.jpg") center center/cover repeat;;  */
    background-image: url("resourses/shit.jpg");
    background-repeat: repeat;
    /* background-color: #fff; */
    /* background-size:cover; */
    color: white;
    margin: 0;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.isolated{
    margin: 2em;
}

.fat{
    height: 80vh;
}

.half{
    width: 50%;
}

.wide{
    width: 80%;
}

.myAssembly{
    padding: 0px 10px 16px 10px;
}

.someAssembly{
    margin-top: 15px;
    padding: 0px 10px 16px 10px;
    border: 2px solid #ffff00;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.65)
}

.someAssembly > p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
