.header {
	display: flex;
	padding: 8px;
    align-items: center;
    justify-content: space-around;
	background-color: #00000029;
    border: 3px solid #ffdea0;
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
}

.navigation {
	width: 100%;
}
.navigation_list {
	display: flex;
    justify-content: space-around;
    align-items: center;
	list-style-type: none;
}
.navigation_button {
	text-decoration: none;
	transition: 0.5s;
	font-size: 24px;
    font-weight: 700;
	color: #ffd858;
    text-shadow: 0 0 3px #000000;
    font-family: cursive;
	/* -webkit-text-stroke: 0.2px #00000050; */
}
.navigation_button:hover {
	color: #ffb938;
}