.wrapper_assemble_page__container {
	width: 70%;
	width: 72.4vw;
	background-color: #89898942;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.assemble_page__section {
	width: 800px;
}
.assemble-create-text {
	color:#0032d2;
	font-size: 1.6vw;
}
.assemble_component_text {
	color: #1576ff;
}